openapi: 3.0.0
info:
  version: 1.0.0
  title: ARCAkit API
  description: |
    API REST para integración con ARCAkit. Autenticación mediante Bearer tokens o magic links.
    
    Para más información, consulta la documentación completa en https://docs.arcakit.dev/
  contact:
    name: ARCAkit Support
    url: https://app.arcakit.dev
  license:
    name: RAMBAM

servers:
  - url: https://app.arcakit.dev
    description: Production

security:
  - BearerAuth: []

tags:
  - name: Authentication
    description: Magic link authentication para apps nativas
  - name: Identity
    description: Información de identidad y cuentas del usuario
  - name: Signup
    description: Creación de nuevas cuentas
  - name: ARCA - ws_sr_constancia_inscripcion (Constancia Inscripción)
    description: ws_sr_constancia_inscripcion (Datos de entidad por CUIT)
  - name: ARCA - wsfe (Facturación Electrónica)
    description: Facturación electrónica (tipos, puntos de venta, cotización, CAE/CAEA, comprobantes)
  - name: ARCA - wcons_declaracion (Consulta Declaraciones)
    description: Consulta de declaraciones juradas por identificador o rango de fechas de oficialización
  - name: ARCA - wsfecred (Factura de Crédito Electrónica)
    description: Factura de Crédito Electrónica MiPyME (FCE) — cuentas corrientes, comprobantes, aceptación/rechazo y catálogos
  - name: ARCA - wsrgiva (Régimen de Percepción IVA)
    description: Consulta de constancias de percepción IVA por CUIT (consultarConstanciaPorLote)
  - name: ARCA - ws_sr_padron_a100 (Padrón A100)
    description: Catálogos del padrón A100 — jurisdicciones, tipos de empresa y organismos públicos. Usa certificado de catálogo.
  - name: ARCA - ws_sr_padron_a4 (Padrón A4)
    description: Consulta de datos de personas físicas y jurídicas por CUIT (getEntities). Usa certificado de catálogo.
  - name: ARCA - ws_sr_padron_a5 (Padrón A5)
    description: Consulta de datos de personas por CUIT, orientado a monotributistas — datos_generales + datos_monotributo (getEntities). Usa certificado de catálogo.

paths:
  /session:
    post:
      tags:
        - Authentication
      summary: Solicitar magic link
      description: Envía un magic link al email del usuario. El usuario recibirá un código de 6 caracteres. La respuesta incluye un pending_authentication_token tanto en el JSON body como en una cookie.
      operationId: requestMagicLink
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email_address
              properties:
                email_address:
                  type: string
                  format: email
                  description: Email del usuario
            example:
              email_address: user@example.com
      responses:
        '201':
          description: Magic link enviado exitosamente
          headers:
            Set-Cookie:
              description: Cookie con pending_authentication_token
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  pending_authentication_token:
                    type: string
                    description: Token temporal para usar al enviar el código
              example:
                pending_authentication_token: eyJfcmFpbHMi...
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    
    delete:
      tags:
        - Authentication
      summary: Cerrar sesión (logout)
      description: Destruye la sesión del servidor
      operationId: logout
      security:
        - SessionToken: []
      responses:
        '204':
          description: Sesión cerrada exitosamente
        '401':
          $ref: '#/components/responses/Unauthorized'

  /session/magic_link:
    post:
      tags:
        - Authentication
      summary: Enviar código del magic link
      description: Completa la autenticación enviando el código de 6 caracteres que el usuario recibió por email. Requiere el pending_authentication_token como cookie.
      operationId: submitMagicLinkCode
      security: []
      parameters:
        - name: Cookie
          in: header
          required: true
          description: Cookie con pending_authentication_token de la respuesta anterior
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  description: Código de 6 caracteres del email
                  pattern: '^[A-Z0-9]{6}$'
            example:
              code: ABC123
      responses:
        '200':
          description: Autenticación exitosa
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_token:
                    type: string
                    description: Token de sesión para usar en requests subsiguientes
              example:
                session_token: eyJfcmFpbHMi...
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /my/identity:
    get:
      tags:
        - Identity
      summary: Obtener identidad y cuentas
      description: Retorna las cuentas a las que tiene acceso la identidad autenticada, incluyendo el usuario en cada cuenta.
      operationId: getMyIdentity
      responses:
        '200':
          description: Identidad con cuentas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityResponse'
              example:
                email_address: user@example.com
                accounts:
                  - id: 03f5v9zjskhcii2r45ih3u1rq
                    name: Acme Corp
                    slug: /1
                    created_at: '2025-12-05T19:36:35.377Z'
                    user:
                      id: 03f5v9zjw7pz8717a4no1h8a7
                      name: Jane Doe
                      role: owner
                      active: true
                      email_address: jane@example.com
                      created_at: '2025-12-05T19:36:35.401Z'
                      url: https://app.arcakit.dev/users/03f5v9zjw7pz8717a4no1h8a7
        '304':
          description: Not Modified (usa ETag para caching)
        '401':
          $ref: '#/components/responses/Unauthorized'

  /signup/completion:
    post:
      tags:
        - Signup
      summary: Crear nueva cuenta
      description: Completa el signup creando una nueva cuenta para la identidad autenticada. Rate limit de 10 requests por hora.
      operationId: createAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - full_name
                - cuit
              properties:
                full_name:
                  type: string
                  description: Nombre completo del usuario
                cuit:
                  type: string
                  description: CUIT de la entidad (con o sin guiones)
                  pattern: '^\d{2}-?\d{8}-?\d{1}$'
            example:
              full_name: Juan Pérez
              cuit: '20-12345678-9'
      responses:
        '201':
          description: Cuenta creada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /{account_slug}/arca/ws_sr_constancia_inscripcion/status:
    get:
      tags:
        - ARCA - ws_sr_constancia_inscripcion (Constancia Inscripción)
      summary: Verificar estado del servicio
      description: Verifica conectividad con el servicio ARCA. Usa certificado de catálogo (global o de cuenta según configuración).
      operationId: arcaConstanciaStatus
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: Servicio disponible
          content:
            application/json:
              schema:
                type: object
                properties:
                  appserver:
                    type: string
                  authserver:
                    type: string
                  dbserver:
                    type: string
              example:
                appserver: OK
                authserver: OK
                dbserver: OK
        '502':
          $ref: '#/components/responses/ArcaError'
        '503':
          $ref: '#/components/responses/CertificateNotConfigured'

  /{account_slug}/arca/ws_sr_constancia_inscripcion/constancias/{cuit}:
    get:
      tags:
        - ARCA - ws_sr_constancia_inscripcion (Constancia Inscripción)
      summary: Obtener constancia por CUIT
      description: Obtiene datos de inscripción de una entidad por su CUIT
      operationId: arcaGetConstancia
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: cuit
          in: path
          required: true
          description: CUIT de la entidad (con o sin guiones)
          schema:
            type: string
            pattern: '^\d{2}-?\d{8}-?\d{1}$'
          example: '30-12345678-4'
      responses:
        '200':
          description: Datos de la entidad
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConstanciaInscripcion'
              examples:
                personaJuridica:
                  summary: Persona jurídica exitosa
                  value:
                    datos_generales:
                      razon_social: LA REGALERIA S A
                      id_persona: '30123456784'
                      tipo_persona: JURIDICA
                      tipo_clave: CUIT
                      estado_clave: ACTIVO
                      mes_cierre: '6'
                      fecha_contrato_social: '1996-07-31T12:00:00-03:00'
                      domicilio_fiscal:
                        direccion: AV SIEMPRE VIVA 123
                        localidad: NUEVA YORK
                        cod_postal: '2300'
                        id_provincia: '12'
                        descripcion_provincia: SANTA FE
                        tipo_domicilio: FISCAL
                    datos_regimen_general:
                      actividad:
                        - descripcion_actividad: VENTA AL POR MENOR DE INSTRUMENTAL MÉDICO Y ODONTOLÓGICO Y ARTÍCULOS ORTOPÉDICOS
                          id_actividad: '477330'
                          nomenclador: '883'
                          orden: '2'
                          periodo: '201311'
                      impuesto:
                        - descripcion_impuesto: GANANCIAS SOCIEDADES
                          id_impuesto: '10'
                          periodo: '199907'
                        - descripcion_impuesto: IVA
                          id_impuesto: '30'
                          periodo: '198903'
                      regimen:
                        - id_impuesto: '208'
                          id_regimen: '159'
                          periodo: '199403'
                    metadata:
                      fecha_hora: '2018-12-18T13:28:41.714-03:00'
                      servidor: aws.afip.gov.ar
                personaFisica:
                  summary: Persona física con error de régimen
                  value:
                    datos_generales:
                      apellido: ROMA
                      nombre: LUIS GARMENDIA
                      id_persona: '20123456782'
                      tipo_persona: FISICA
                      tipo_clave: CUIT
                      estado_clave: ACTIVO
                      mes_cierre: '12'
                      domicilio_fiscal:
                        direccion: ROSAS 456
                        localidad: USHUAIA
                        cod_postal: '9410'
                        dato_adicional: NO DETERMINADO
                        tipo_dato_adicional: NO DETERMINADO
                        id_provincia: '24'
                        descripcion_provincia: TIERRA DEL FUEGO
                        tipo_domicilio: FISCAL
                    error_regimen_general:
                      error: El contribuyente cuenta con impuestos con baja de oficio por Decreto 1299/98
                      mensaje: No cumple con las condiciones para enviar datos del regimen general
                    metadata:
                      fecha_hora: '2019-01-03T15:41:42.636-03:00'
                      servidor: aws.afip.gov.ar
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '502':
          $ref: '#/components/responses/ArcaError'
        '503':
          $ref: '#/components/responses/CertificateNotConfigured'

  /{account_slug}/arca/ws_sr_constancia_inscripcion/constancias/batch:
    post:
      tags:
        - ARCA - ws_sr_constancia_inscripcion (Constancia Inscripción)
      summary: Obtener constancias por lote
      description: Obtiene datos de inscripción para múltiples CUITs (1-10 por request)
      operationId: arcaGetConstanciasBatch
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cuits
              properties:
                cuits:
                  type: array
                  items:
                    type: string
                    pattern: '^\d{2}-?\d{8}-?\d{1}$'
                  minItems: 1
                  maxItems: 10
                  description: Array de CUITs (1-10)
            example:
              cuits:
                - '30-12345678-4'
                - '20-12345678-2'
      responses:
        '200':
          description: Array de resultados (éxito o error por cada CUIT)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConstanciaInscripcion'
              example:
                - datos_generales:
                    razon_social: LA REGALERIA S A
                    id_persona: '30123456784'
                    tipo_persona: JURIDICA
                    tipo_clave: CUIT
                    estado_clave: ACTIVO
                    mes_cierre: '6'
                    fecha_contrato_social: '1996-07-31T12:00:00-03:00'
                    domicilio_fiscal:
                      direccion: AV SIEMPRE VIVA 123
                      localidad: NUEVA YORK
                      cod_postal: '2300'
                      id_provincia: '12'
                      descripcion_provincia: SANTA FE
                      tipo_domicilio: FISCAL
                    datos_regimen_general:
                      actividad:
                        - descripcion_actividad: VENTA AL POR MENOR DE INSTRUMENTAL MÉDICO Y ODONTOLÓGICO Y ARTÍCULOS ORTOPÉDICOS
                          id_actividad: '477330'
                          nomenclador: '883'
                          orden: '2'
                          periodo: '201311'
                      impuesto:
                        - descripcion_impuesto: IVA
                          id_impuesto: '30'
                          periodo: '198903'
                    metadata:
                      fecha_hora: '2018-12-18T13:28:41.714-03:00'
                      servidor: aws.afip.gov.ar
                - datos_generales:
                    apellido: ROMA
                    nombre: LUIS GARMENDIA
                    id_persona: '20123456782'
                    tipo_persona: FISICA
                    tipo_clave: CUIT
                    estado_clave: ACTIVO
                    mes_cierre: '12'
                    domicilio_fiscal:
                      direccion: ROSAS 456
                      localidad: USHUAIA
                      cod_postal: '9410'
                      id_provincia: '24'
                      descripcion_provincia: TIERRA DEL FUEGO
                      tipo_domicilio: FISCAL
                    error_regimen_general:
                      error: El contribuyente cuenta con impuestos con baja de oficio por Decreto 1299/98
                      mensaje: No cumple con las condiciones para enviar datos del regimen general
                    metadata:
                      fecha_hora: '2019-01-03T15:41:42.636-03:00'
                      servidor: aws.afip.gov.ar
        '422':
          description: Validación fallida (CUITs inválidos o cantidad fuera de rango)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  cuits:
                    type: array
                    items:
                      type: string
              example:
                error: Invalid CUIT format
                cuits:
                  - '12-34567890-1'
        '502':
          $ref: '#/components/responses/ArcaError'
        '503':
          $ref: '#/components/responses/CertificateNotConfigured'

  # --- ARCA WSFE (Facturación electrónica) ---
  /{account_slug}/arca/wsfe/status:
    get:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Estado del servicio WSFE
      description: |
        FEDummy — Método dummy para verificación de funcionamiento. Sin body en el request. Respuesta AppServer, DbServer, AuthServer (en ARCAkit: app_server, db_server, auth_server).
      operationId: wsfeStatus
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: Servicio disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfeStatusResponse'
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/tipos/{scope}:
    get:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Obtener tipos (catálogos)
      description: |
        Devuelve el catálogo ARCA según el scope indicado en la URL.

        | scope | Operación ARCA |
        |---|---|
        | `comprobantes` | FEParamGetTiposCbte — recupera el listado de Tipos de Comprobantes utilizables en servicio de autorización. Respuesta CbteTipo: Id, Desc, FchDesde, FchHasta. |
        | `documentos` | FEParamGetTiposDoc — recupera el listado de Tipos de Documentos utilizables en servicio de autorización. Respuesta DocTipo: Id, Desc, FchDesde, FchHasta. |
        | `concepto` | FEParamGetTiposConcepto — recupera el listado de identificadores para el campo Concepto. Respuesta ConceptoTipo: Id, Desc, FchDesde, FchHasta. |
        | `monedas` | FEParamGetTiposMonedas — recupera el listado de monedas utilizables en servicio de autorización. Respuesta Moneda: Id, Desc, FchDesde, FchHasta. |
        | `opcional` | FEParamGetTiposOpcional — recupera el listado de identificadores para los campos Opcionales. Respuesta OpcionalTipo: Id, Desc, FchDesde, FchHasta. |
        | `iva` | FEParamGetTiposIva — recupera el listado de Tipos de Iva utilizables en servicio de autorización. Respuesta IvaTipo: Id, Desc, FchDesde, FchHasta. |
        | `tributos` | FEParamGetTiposTributos — recupera el listado de los diferentes tributos que pueden ser utilizados en el servicio de autorización. Respuesta TributoTipo: Id (short), Desc, FchDesde, FchHasta. |
        | `condicion_iva_receptor` | FEParamGetCondicionIvaReceptor — recupera la condición frente al IVA del receptor para una clase de comprobante (opcional `clase_cmp`) o para todas si no se especifica. Respuesta: `id`, `desc`, `cmp_clase`. |
        | `actividades` | FEParamGetActividades — recupera el listado de las diferentes actividades habilitadas para el emisor. Respuesta ActividadesTipo: Id (long), Orden (short), Desc (string). |
      operationId: wsfeTipos
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: scope
          in: path
          required: true
          schema:
            type: string
            enum: [comprobantes, documentos, concepto, monedas, opcional, iva, tributos, condicion_iva_receptor, actividades]
          example: comprobantes
        - name: clase_cmp
          in: query
          required: false
          description: Solo para scope condicion_iva_receptor. Clase de comprobante (ej. "A"). Si no se envía, se devuelven todas las condiciones IVA receptor.
          schema:
            type: string
      responses:
        '200':
          description: Array de ítems del catálogo
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsfeTipoItem'
              example:
                - id: 1
                  desc: Factura A
                  fch_desde: '20100917'
                  fch_hasta: null
                - id: 2
                  desc: Nota de Débito A
                  fch_desde: '20100918'
                  fch_hasta: '20110918'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/puntos_venta:
    get:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Listar puntos de venta
      description: |
        FEParamGetPtosVenta — Recupera el listado de puntos de venta registrados y su estado. Request solo Auth. Respuesta ResultGet: array PtoVenta (Nro, EmisionTipo, Bloqueado, FchBaja).
      operationId: wsfePuntosVenta
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsfePuntoVenta'
              example:
                - nro: 1
                  emision_tipo: CAE
                  bloqueado: false
                  fch_baja: null
                - nro: 2
                  emision_tipo: CAEA
                  bloqueado: true
                  fch_baja: '20110131'
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/monedas/{moneda_id}/cotizacion:
    get:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Cotización de moneda
      description: |
        FEParamGetCotizacion — Recupera la cotización de la moneda consultada y su fecha. Request Auth, MonId (moneda_id en path), opcional FchCotiz (no expuesto en esta API). Respuesta ResultGet: MonId, MonCotiz (double), FchCotiz. ARCAkit devuelve `moneda_id` (MonId) y `cotizacion` (MonCotiz). Ej. moneda_id DOL para dólar.
      operationId: wsfeCotizacion
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: moneda_id
          in: path
          required: true
          schema:
            type: string
          example: DOL
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  moneda_id: { type: string, description: "MonId (eco del request)" }
                  cotizacion: { type: number, description: "MonCotiz — tipo de cambio" }
              example:
                moneda_id: DOL
                cotizacion: 3.976
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/config/lote_max:
    get:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Cantidad máxima de registros por lote
      description: |
        FECompTotXRequest — Retorna la cantidad máxima de registros que puede tener una invocación al método FECAESolicitar / FECAEARegInformativo. Respuesta RegXReq; en ARCAkit se expone como `cant_max_registros_x_lote`.
      operationId: wsfeLoteMax
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cant_max_registros_x_lote: { type: integer, description: "RegXReq — máximo comprobantes por request (FECAESolicitar / FECAEARegInformativo)" }
              example:
                cant_max_registros_x_lote: 250
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/comprobantes/ultimo_autorizado:
    get:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Último comprobante autorizado
      description: |
        FECompUltimoAutorizado — Retorna el último comprobante autorizado para el tipo de comprobante / CUIT / punto de venta ingresado / Tipo de Emisión. Request PtoVta, CbteTipo. Respuesta PtoVta, CbteTipo, CbteNro.
      operationId: wsfeUltimoComprobanteAutorizado
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: pto_vta
          in: query
          required: true
          schema: { type: integer }
          example: 1
        - name: cbte_tipo
          in: query
          required: true
          schema: { type: integer }
          example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pto_vta: { type: integer, description: "PtoVta (eco del request)" }
                  cbte_tipo: { type: integer, description: "CbteTipo (eco del request)" }
                  cbte_nro: { type: integer, description: "CbteNro — último número autorizado" }
              example:
                pto_vta: 1
                cbte_tipo: 1
                cbte_nro: 20
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/comprobantes/{pto_vta}/{cbte_tipo}/{cbte_nro}:
    get:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Consultar comprobante
      description: |
        FECompConsultar — Consulta Comprobante emitido y su código. Request FeCompConsReq (CbteTipo, CbteNro, PtoVta). Respuesta ResultGet: Resultado, CodAutorizacion (CAE), EmisionTipo, FchVto, FchProceso, Observaciones, PtoVta, CbteTipo (y datos del comprobante si aplica).
      operationId: wsfeConsultarComprobante
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: pto_vta
          in: path
          required: true
          schema: { type: integer }
          example: 1
        - name: cbte_tipo
          in: path
          required: true
          schema: { type: integer }
          example: 1
        - name: cbte_nro
          in: path
          required: true
          schema: { type: integer }
          example: 1
      responses:
        '200':
          description: Datos del comprobante
          content:
            application/json:
              schema:
                type: object
                properties:
                  concepto: { type: integer }
                  doc_tipo: { type: integer }
                  doc_nro: { type: integer }
                  cbte_desde: { type: integer }
                  cbte_hasta: { type: integer }
                  cbte_fch: { type: string }
                  imp_total: { type: number }
                  imp_tot_conc: { type: number }
                  imp_neto: { type: number }
                  imp_op_ex: { type: number }
                  imp_trib: { type: number }
                  imp_iva: { type: number }
                  fch_serv_desde: { type: string, nullable: true }
                  fch_serv_hasta: { type: string, nullable: true }
                  fch_vto_pago: { type: string, nullable: true }
                  mon_id: { type: string }
                  mon_cotiz: { type: number }
                  iva:
                    type: object
                    properties:
                      alic_iva:
                        type: array
                        items:
                          type: object
                          properties:
                            id: { type: integer }
                            base_imp: { type: number }
                            importe: { type: number }
                  resultado: { type: string, enum: [ A, R ] }
                  cod_autorizacion: { type: string, description: "CAE / CodAutorizacion" }
                  emision_tipo: { type: string }
                  fch_vto: { type: string }
                  fch_proceso: { type: string }
                  observaciones:
                    type: array
                    items: { type: object, properties: { code: { type: integer }, msg: { type: string } } }
                  pto_vta: { type: integer }
                  cbte_tipo: { type: integer }
              example:
                concepto: 1
                doc_tipo: 80
                doc_nro: 30521189203
                cbte_desde: 1
                cbte_hasta: 1
                cbte_fch: '20110113'
                imp_total: 1270.48
                imp_tot_conc: 0
                imp_neto: 1049.98
                imp_op_ex: 0
                imp_trib: 0
                imp_iva: 220.5
                fch_serv_desde: null
                fch_serv_hasta: null
                fch_vto_pago: null
                mon_id: PES
                mon_cotiz: 1
                iva:
                  alic_iva:
                    - id: 5
                      base_imp: 1049.98
                      importe: 220.5
                resultado: A
                cod_autorizacion: '61023008595705'
                emision_tipo: CAE
                fch_vto: '20110123'
                fch_proceso: '20110113165500'
                observaciones: []
                pto_vta: 1
                cbte_tipo: 1
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/comprobantes:
    post:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Autorizar comprobantes (solicitar CAE)
      description: |
        FECAESolicitar — Solicitud de Código de Autorización Electrónico (CAE). Autoriza uno o más comprobantes; la respuesta incluye por cada uno `CAE`, `CAEFchVto` (y en ARCAkit también `resultado`, `observaciones`).

        **Campo `cbte_nro`**: ARCAkit usa un único número por comprobante. El campo se mapea
        internamente a `CbteDesde=CbteHasta=cbte_nro` en el SOAP request de ARCA.

        **Resultado por comprobante** — cada item del array de respuesta incluye `resultado`:
        - `A` — Aprobado. El comprobante fue autorizado y tiene `cae` + `cae_fch_vto`.
        - `R` — Rechazado. ARCA denegó la autorización; revisar `observaciones`.
        - `P` — No procesado. ARCA no procesó el item porque un comprobante anterior
          en el mismo lote fue rechazado. ARCA aplica **consecutividad**: si el nro `N`
          es rechazado, los nros `N+1`, `N+2`, … del mismo lote también quedan como `P`.
          Corrija el comprobante rechazado y reintente desde ese número.
      operationId: wsfeAutorizarComprobantes
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WsfeAutorizarComprobantesRequest'
            example:
              cbte_tipo: 1
              pto_vta: 1
              comprobantes:
                - cbte_nro: 1
                  concepto: 1
                  doc_tipo: 80
                  doc_nro: 30521189203
                  cbte_fch: '2011-01-13'
                  imp_total: 1270.48
                  imp_tot_conc: 0
                  imp_neto: 1049.98
                  imp_op_ex: 0
                  imp_trib: 0
                  imp_iva: 220.5
                  mon_id: PES
                  mon_cotiz: 1
                  iva:
                    alic_iva:
                      - id: 5
                        base_imp: 1049.98
                        importe: 220.5
      responses:
        '200':
          description: Array de resultados por comprobante
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsfeAutorizarComprobanteResponse'
              examples:
                autorizado:
                  summary: Comprobante autorizado (resultado A)
                  value:
                    - concepto: 1
                      doc_tipo: 80
                      doc_nro: 30521189203
                      cbte_desde: 1
                      cbte_hasta: 1
                      cbte_fch: '20110113'
                      resultado: A
                      cae: '61023008595705'
                      cae_fch_vto: '20110123'
                      observaciones: []
                rechazado:
                  summary: Comprobante rechazado (resultado R) con observaciones
                  value:
                    - concepto: 1
                      doc_tipo: 80
                      doc_nro: 30521189203
                      cbte_desde: 3
                      cbte_hasta: 3
                      cbte_fch: '20110113'
                      resultado: R
                      cae: null
                      cae_fch_vto: null
                      observaciones:
                        - code: 10048
                          msg: Msg 1
                        - code: 10018
                          msg: Msg 2
                parcial:
                  summary: Lote parcial — primer comprobante aprobado, segundo rechazado, tercero no procesado (P)
                  value:
                    - concepto: 1
                      doc_tipo: 80
                      doc_nro: 30521189203
                      cbte_desde: 101
                      cbte_hasta: 101
                      cbte_fch: '20110113'
                      resultado: A
                      cae: '61023008595705'
                      cae_fch_vto: '20110123'
                      observaciones: []
                    - concepto: 1
                      doc_tipo: 80
                      doc_nro: 30521189203
                      cbte_desde: 102
                      cbte_hasta: 102
                      cbte_fch: '20110113'
                      resultado: R
                      cae: null
                      cae_fch_vto: null
                      observaciones:
                        - code: 10048
                          msg: El numero de comprobante es incorrecto
                    - concepto: 1
                      doc_tipo: 80
                      doc_nro: 30521189203
                      cbte_desde: 103
                      cbte_hasta: 103
                      cbte_fch: '20110113'
                      resultado: P
                      cae: null
                      cae_fch_vto: null
                      observaciones: []
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/caea:
    get:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Consultar CAEA
      description: Obtiene el CAEA para una fecha (FECAEAConsultar). Query fecha=YYYY-MM-DD.
      operationId: wsfeConsultarCaea
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: fecha
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Fecha en YYYY-MM-DD
          example: '2011-02-01'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfeCaeaResponse'
              example:
                caea: '21043476341977'
                periodo: '201102'
                orden: 1
                fch_vig_desde: '20110201'
                fch_vig_hasta: '20110215'
                fch_tope_inf: '20110317'
                fch_proceso: '20110127124928'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }
    post:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Solicitar CAEA
      description: Solicita un CAEA para la próxima quincena (FECAEASolicitar). No requiere body.
      operationId: wsfeSolicitarCaea
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: CAEA otorgado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfeCaeaResponse'
              example:
                caea: '21043476341977'
                periodo: '201102'
                orden: 1
                fch_vig_desde: '20110201'
                fch_vig_hasta: '20110215'
                fch_tope_inf: '20110317'
                fch_proceso: '20110127124928'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/caea/informar_comprobantes:
    post:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Informar comprobantes CAEA
      description: Informa comprobantes emitidos con un CAEA (FECAEARegInformativo). Body cbte_tipo, pto_vta y array comprobantes con estructura completa de cada comprobante.
      operationId: wsfeInformarComprobantesCaea
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WsfeInformarComprobantesCaeaRequest'
            example:
              cbte_tipo: 1
              pto_vta: 3
              comprobantes:
                - cbte_nro: 1
                  concepto: 1
                  doc_tipo: 80
                  doc_nro: 30521189203
                  cbte_fch: '2011-02-01'
                  imp_total: 1270.48
                  imp_tot_conc: 0
                  imp_neto: 1049.98
                  imp_op_ex: 0
                  imp_trib: 0
                  imp_iva: 220.5
                  mon_id: PES
                  mon_cotiz: 1
                  iva:
                    alic_iva:
                      - id: 5
                        base_imp: 1049.98
                        importe: 220.5
      responses:
        '200':
          description: Array por comprobante (resultado, caea, observaciones)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsfeInformarCaeaItemResponse'
              example:
                - cbte_desde: 1
                  cbte_hasta: 1
                  cbte_fch: '20110201'
                  resultado: A
                  caea: '21043476341977'
                  observaciones: []
                - cbte_desde: 2
                  cbte_hasta: 2
                  cbte_fch: '20110201'
                  resultado: R
                  caea: '21043476341977'
                  observaciones:
                    - code: 724
                      msg: Msg
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/caea/informar_sin_movimientos:
    post:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Informar CAEA sin movimientos
      description: Informa que no se usó el CAEA en el punto de venta (FECAEASinMovimientoInformar). Body caea y pto_vta.
      operationId: wsfeInformarCaeaSinMovimientos
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [caea, pto_vta]
              properties:
                caea: { type: string }
                pto_vta: { type: integer }
            example:
              caea: '21043476341977'
              pto_vta: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  caea: { type: string }
                  fch_proceso: { type: string }
                  pto_vta: { type: integer }
                  resultado: { type: string }
              example:
                caea: '21043476341977'
                fch_proceso: '20110202'
                pto_vta: 3
                resultado: A
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  # --- ARCA wcons_declaracion (Consulta Declaraciones) ---
  /{account_slug}/arca/wcons_declaracion/status:
    get:
      tags: [ARCA - wcons_declaracion (Consulta Declaraciones)]
      summary: Estado del servicio wcons_declaracion
      description: Verifica conectividad con el servicio. Requiere certificado de cuenta.
      operationId: wconsDeclaracionStatus
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: Servicio disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfeStatusResponse'
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wcons_declaracion/declaraciones:
    get:
      tags: [ARCA - wcons_declaracion (Consulta Declaraciones)]
      summary: Listar declaraciones
      description: |
        Lista declaraciones juradas (detallada_lista_declaraciones). Usar identificador_declaracion OR
        (fecha_oficializacion_desde + fecha_oficializacion_hasta), no ambos.
      operationId: wconsDeclaracionIndex
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: identificador_declaracion
          in: query
          required: false
          schema: { type: string }
          description: Identificador de la declaración. Exclusivo con fecha_oficializacion_desde/hasta.
          example: 19093SIMI000434X
        - name: fecha_oficializacion_desde
          in: query
          required: false
          schema: { type: string, format: date-time }
          description: Fecha desde (requerida junto con fecha_oficializacion_hasta si no se usa identificador_declaracion)
          example: '2019-04-01T00:00:00'
        - name: fecha_oficializacion_hasta
          in: query
          required: false
          schema: { type: string, format: date-time }
          description: Fecha hasta
          example: '2019-04-30T23:59:59'
      responses:
        '200':
          description: Array de declaraciones
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WconsDeclaracion'
              example:
                - identificador_declaracion: 19092SIMI000313M
                  cuit_importador_exportador: '23076925089'
                  cuit_despachante: '20180963295'
                  fecha_oficializacion_declaracion: '2019-04-03T12:54:36'
                  codigo_estado_declaracion: SALI
                  fecha_estado_declaracion: '2019-04-06T13:09:53'
                  codigo_via_transporte: '-'
                  matricula_medio_transporte: '-'
                - identificador_declaracion: 19092SIMI000314N
                  cuit_importador_exportador: '23076925089'
                  cuit_despachante: '20180963295'
                  fecha_oficializacion_declaracion: '2019-04-03T13:03:07'
                  codigo_estado_declaracion: CANC
                  fecha_estado_declaracion: '2019-06-20T02:23:31'
                  codigo_via_transporte: '-'
                  matricula_medio_transporte: '-'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wcons_declaracion/declaraciones/{identificador_declaracion}:
    get:
      tags: [ARCA - wcons_declaracion (Consulta Declaraciones)]
      summary: Estado de una declaración
      description: Obtiene el estado de una declaración por su identificador (detallada_estado).
      operationId: wconsDeclaracionShow
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: identificador_declaracion
          in: path
          required: true
          schema: { type: string }
          description: Identificador de la declaración
          example: 19093SIMI000434X
      responses:
        '200':
          description: Estado de la declaración
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WconsDeclaracionEstado'
              example:
                fecha_presentacion: null
                fecha_autorizacion_retiro: '2019-04-25T18:48:12'
                fecha_salida: '2019-04-25T18:48:12'
                fecha_cancelacion: '2019-07-04T02:29:34'
                fecha_oficializacion_permiso_embarque_original: null
                fecha_presentacion_permiso_embarque_original: null
                fecha_precumplido: null
                fecha_registracion_cumplido: null
                fecha_libramiento_cumplido: null
                fecha_vencimiento_embarque: null
                indicador_precumplido: '-'
                indicador_cumplido: '-'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  # --- ARCA wsfecred (Factura de Crédito Electrónica) ---
  /{account_slug}/arca/wsfecred/status:
    get:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Estado del servicio wsfecred
      description: Verifica conectividad con el servicio ARCA wsfecred (dummy). Requiere certificado de cuenta.
      operationId: wsfecredStatus
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: Servicio disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfeStatusResponse'
              example:
                appserver: OK
                authserver: OK
                dbserver: OK
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfecred/tipos/{scope}:
    get:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Obtener tipos (catálogos)
      description: |
        Devuelve el catálogo wsfecred según el scope indicado en la URL.

        | scope | Operación ARCA |
        |---|---|
        | `retenciones` | consultarTiposRetenciones |
        | `motivos_rechazo` | consultarTiposMotivosRechazo |
        | `formas_cancelacion` | consultarTiposFormasCancelacion |
        | `ajustes_operacion` | consultarTiposAjustesOperacion |
      operationId: wsfecredTipos
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: scope
          in: path
          required: true
          schema:
            type: string
            enum: [retenciones, motivos_rechazo, formas_cancelacion, ajustes_operacion]
          example: retenciones
      responses:
        '200':
          description: Array de ítems del catálogo
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsfecredTipoItem'
              example:
                - codigo: 1
                  descripcion: Retención 1
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfecred/monto_obligado_recepcion:
    get:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Consultar monto obligado de recepción
      description: Devuelve si el CUIT consultado está obligado a recibir Facturas de Crédito Electrónicas para una fecha de emisión dada (consultarMontoObligadoRecepcion).
      operationId: wsfecredMontoObligado
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: cuit_consultada
          in: query
          required: true
          schema: { type: string }
          description: CUIT a consultar
          example: '30712895994'
        - name: fecha_emision
          in: query
          required: true
          schema: { type: string, format: date }
          description: Fecha de emisión en YYYY-MM-DD
          example: '2021-01-15'
      responses:
        '200':
          description: Resultado de la consulta
          content:
            application/json:
              schema:
                type: object
                properties:
                  monto_desde: { type: number, nullable: true }
                  obligado: { type: boolean }
              example:
                monto_desde: 106267.66
                obligado: true
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfecred/comprobantes:
    get:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Consultar comprobantes
      description: Lista comprobantes de crédito electrónicos por rol del CUIT representado (consultarComprobantes). Filtra por emisor o receptor.
      operationId: wsfecredConsultarComprobantes
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: rol_cuit_representada
          in: query
          required: true
          schema: { type: string, enum: [Emisor, Receptor] }
          example: Emisor
        - name: cuit_contraparte
          in: query
          required: false
          schema: { type: string }
          example: '20131505852'
        - name: cod_tipo_cmp
          in: query
          required: false
          schema: { type: integer }
          example: 1
        - name: estado_cmp
          in: query
          required: false
          schema: { type: string }
        - name: fecha
          in: query
          required: false
          schema: { type: string, format: date }
          example: '2021-01-15'
        - name: cod_cta_cte
          in: query
          required: false
          schema: { type: integer }
          example: 12345
        - name: estado_cta_cte
          in: query
          required: false
          schema: { type: string }
        - name: nro_pagina
          in: query
          required: false
          schema: { type: integer }
          example: 1
      responses:
        '200':
          description: Lista paginada de comprobantes
          content:
            application/json:
              schema:
                type: object
                properties:
                  comprobantes:
                    type: array
                    items:
                      $ref: '#/components/schemas/WsfecredComprobante'
                  nro_pagina: { type: integer }
                  hay_mas: { type: boolean }
                  observaciones: { type: array, items: { type: object } }
              example:
                comprobantes:
                  - cbte_nro: 1
                    cod_tipo_cmp: 1
                nro_pagina: 1
                hay_mas: false
                observaciones: []
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfecred/comprobantes/rechazar_nota_dc:
    post:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Rechazar nota de débito/crédito
      description: Rechaza una nota de débito o crédito asociada a una Factura de Crédito Electrónica (rechazarNotaDC).
      operationId: wsfecredRechazarNotaDc
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_comprobante, array_motivos_rechazo]
              properties:
                id_comprobante:
                  $ref: '#/components/schemas/WsfecredIdComprobante'
                array_motivos_rechazo:
                  type: array
                  items:
                    type: object
                    properties:
                      cod_motivo: { type: integer }
                      desc_motivo: { type: string }
                      justificacion: { type: string }
            example:
              id_comprobante:
                cuit_emisor: 30712895994
                cod_tipo_cmp: 1
                pto_vta: 1
                nro_cmp: 1
              array_motivos_rechazo:
                - cod_motivo: 1
                  desc_motivo: Motivo rechazo 1
                  justificacion: Justificación del rechazo
      responses:
        '200':
          description: Resultado del rechazo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfecredResultado'
              example:
                resultado: A
                id_cta_cte:
                  cod_cta_cte: 12345
                observaciones: []
                errores: []
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfecred/comprobantes/remitos:
    get:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Obtener remitos de un comprobante
      description: Devuelve los remitos asociados a un comprobante identificado por cuit_emisor, cod_tipo_cmp, pto_vta y nro_cmp (obtenerRemitos).
      operationId: wsfecredRemitos
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - $ref: '#/components/parameters/WsfecredIdComprobante'
      responses:
        '200':
          description: Remitos del comprobante
          content:
            application/json:
              schema:
                type: object
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfecred/comprobantes/historial_estados:
    get:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Historial de estados de un comprobante
      description: Devuelve el historial de estados de un comprobante identificado por cuit_emisor, cod_tipo_cmp, pto_vta y nro_cmp (consultarHistorialEstadosComprobante).
      operationId: wsfecredHistorialEstadosComprobante
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - $ref: '#/components/parameters/WsfecredIdComprobante'
      responses:
        '200':
          description: Historial de estados
          content:
            application/json:
              schema:
                type: object
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfecred/ctas_ctes/consulta:
    get:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Consultar cuenta corriente
      description: Obtiene una cuenta corriente por cod_cta_cte o por id_factura (cuit_emisor + cod_tipo_cmp + pto_vta + nro_cmp) (consultarCtaCte).
      operationId: wsfecredConsultarCtaCte
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: cod_cta_cte
          in: query
          required: false
          schema: { type: integer }
          description: Código de cuenta corriente (alternativo a id_factura)
          example: 12345
        - $ref: '#/components/parameters/WsfecredIdFacturaQuery'
      responses:
        '200':
          description: Cuenta corriente
          content:
            application/json:
              schema:
                type: object
                properties:
                  cta_cte:
                    $ref: '#/components/schemas/WsfecredCtaCte'
                  observaciones: { type: array, items: { type: object } }
              example:
                cta_cte:
                  cod_cta_cte: 12345
                  estado: Activa
                observaciones: []
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfecred/ctas_ctes:
    get:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Listar cuentas corrientes
      description: Lista cuentas corrientes por rol del CUIT representado (consultarCtasCtes). Filtra por emisor o receptor.
      operationId: wsfecredConsultarCtasCtes
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: rol_cuit_representada
          in: query
          required: true
          schema: { type: string, enum: [Emisor, Receptor] }
          example: Emisor
        - name: cuit_contraparte
          in: query
          required: false
          schema: { type: string }
          example: '20131505852'
        - name: fecha
          in: query
          required: false
          schema: { type: string, format: date }
          example: '2021-01-15'
        - name: estado_cta_cte
          in: query
          required: false
          schema: { type: string }
        - name: nro_pagina
          in: query
          required: false
          schema: { type: integer }
          example: 1
        - name: opcion_transferencia
          in: query
          required: false
          schema: { type: string, enum: [ADC, SCA] }
      responses:
        '200':
          description: Lista paginada de cuentas corrientes
          content:
            application/json:
              schema:
                type: object
                properties:
                  ctas_ctes:
                    type: array
                    items:
                      $ref: '#/components/schemas/WsfecredInfoCtaCte'
                  nro_pagina: { type: integer }
                  hay_mas: { type: boolean }
                  observaciones: { type: array, items: { type: object } }
              example:
                ctas_ctes:
                  - cod_cta_cte: 12345
                nro_pagina: 1
                hay_mas: false
                observaciones: []
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfecred/ctas_ctes/historial_estados:
    get:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Historial de estados de una cuenta corriente
      description: Devuelve el historial de estados de una cuenta corriente por cod_cta_cte o id_factura (consultarHistorialEstadosCtaCte).
      operationId: wsfecredHistorialEstadosCtaCte
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: cod_cta_cte
          in: query
          required: false
          schema: { type: integer }
          example: 12345
        - $ref: '#/components/parameters/WsfecredIdFacturaQuery'
      responses:
        '200':
          description: Historial de estados
          content:
            application/json:
              schema:
                type: object
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfecred/ctas_ctes/aceptar:
    post:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Aceptar cuenta corriente
      description: Acepta una Factura de Crédito Electrónica (aceptarFECred). Requiere id_cta_cte y opciones de aceptación.
      operationId: wsfecredAceptar
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_cta_cte]
              properties:
                id_cta_cte:
                  $ref: '#/components/schemas/WsfecredIdCtaCte'
                saldo_aceptado: { type: number }
                cod_moneda: { type: string }
                cotizacion_moneda_ult: { type: number }
                informa_cbu: { type: boolean }
                cbu_comprador: { type: string }
                array_confirmar_notas_dc: { type: array, items: { type: object } }
                array_formas_cancelacion: { type: array, items: { type: object } }
                array_retenciones: { type: array, items: { type: object } }
                array_ajustes_operacion: { type: array, items: { type: object } }
            example:
              id_cta_cte:
                cod_cta_cte: 12345
              saldo_aceptado: 1270.48
              cod_moneda: PES
              cotizacion_moneda_ult: 1
      responses:
        '200':
          description: Resultado de la aceptación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfecredResultado'
              example:
                resultado: A
                id_cta_cte:
                  cod_cta_cte: 12345
                observaciones: []
                errores: []
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfecred/ctas_ctes/rechazar:
    post:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Rechazar cuenta corriente
      description: Rechaza una Factura de Crédito Electrónica (rechazarFECred).
      operationId: wsfecredRechazar
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_cta_cte, array_motivos_rechazo]
              properties:
                id_cta_cte:
                  $ref: '#/components/schemas/WsfecredIdCtaCte'
                array_motivos_rechazo:
                  type: array
                  items:
                    type: object
                    properties:
                      cod_motivo: { type: integer }
                      desc_motivo: { type: string }
                      justificacion: { type: string }
            example:
              id_cta_cte:
                cod_cta_cte: 12345
              array_motivos_rechazo:
                - cod_motivo: 1
                  desc_motivo: Motivo rechazo 1
                  justificacion: Justificación del rechazo
      responses:
        '200':
          description: Resultado del rechazo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfecredResultado'
              example:
                resultado: A
                id_cta_cte:
                  cod_cta_cte: 12345
                observaciones: []
                errores: []
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfecred/ctas_ctes/informar_cancelacion_total:
    post:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Informar cancelación total
      description: Informa la cancelación total de una Factura de Crédito Electrónica (informarCancelacionTotalFECred).
      operationId: wsfecredInformarCancelacionTotal
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_cta_cte, array_formas_cancelacion, importe_cancelacion]
              properties:
                id_cta_cte:
                  $ref: '#/components/schemas/WsfecredIdCtaCte'
                importe_cancelacion: { type: number }
                array_formas_cancelacion:
                  type: array
                  items:
                    type: object
                    properties:
                      codigo: { type: integer }
                      descripcion: { type: string }
            example:
              id_cta_cte:
                cod_cta_cte: 12345
              importe_cancelacion: 1270.48
              array_formas_cancelacion:
                - codigo: 1
                  descripcion: Forma cancelación 1
      responses:
        '200':
          description: Resultado de la cancelación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfecredResultado'
              example:
                resultado: A
                id_cta_cte:
                  cod_cta_cte: 12345
                observaciones: []
                errores: []
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfecred/ctas_ctes/modificar_opcion_transferencia:
    post:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Modificar opción de transferencia
      description: Cambia la opción de transferencia de una cuenta corriente a ADC (Acreedor Directo de Cheques) o SCA (Sistema de Circulación Abierta) (modificarOpcionTransferencia).
      operationId: wsfecredModificarOpcionTransferencia
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_cta_cte, opcion_transferencia]
              properties:
                id_cta_cte:
                  $ref: '#/components/schemas/WsfecredIdCtaCte'
                opcion_transferencia:
                  type: string
                  enum: [ADC, SCA]
            example:
              id_cta_cte:
                cod_cta_cte: 12345
              opcion_transferencia: SCA
      responses:
        '200':
          description: Resultado de la modificación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfecredResultado'
              example:
                resultado: A
                id_cta_cte:
                  cod_cta_cte: 12345
                observaciones: []
                errores: []
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfecred/agt_dpto_cltv/cuentas:
    get:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Cuentas en agente/departamento CLTV
      description: Lista las cuentas disponibles en el agente/departamento de cobro (consultarCuentasEnAgtDptoCltv).
      operationId: wsfecredAgtDptoCltvCuentas
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: Cuentas disponibles
          content:
            application/json:
              schema:
                type: object
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfecred/agt_dpto_cltv/facturas:
    get:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Facturas en agente/departamento CLTV
      description: Lista las facturas en el agente/departamento de cobro (consultarFacturasAgtDptoCltv). Filtra opcionalmente por cod_cta_cte o id_factura y filtro_fecha.
      operationId: wsfecredAgtDptoCltvFacturas
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: cod_cta_cte
          in: query
          required: false
          schema: { type: integer }
          example: 12345
        - $ref: '#/components/parameters/WsfecredIdFacturaQuery'
        - name: filtro_fecha
          in: query
          required: false
          schema: { type: string, format: date }
          example: '2021-01-15'
      responses:
        '200':
          description: Facturas disponibles
          content:
            application/json:
              schema:
                type: object
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfecred/agt_dpto_cltv/informar_factura:
    post:
      tags: [ARCA - wsfecred (Factura de Crédito Electrónica)]
      summary: Informar factura a agente/departamento CLTV
      description: Informa una factura al agente/departamento de cobro (informarFacturaAgtDptoCltv).
      operationId: wsfecredAgtDptoCltvInformarFactura
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_cta_cte, cta_agente]
              properties:
                id_cta_cte:
                  $ref: '#/components/schemas/WsfecredIdCtaCte'
                cta_agente:
                  type: object
                  required: [cuit_agente, id_cuenta]
                  properties:
                    cuit_agente: { type: integer }
                    id_cuenta: { type: string }
            example:
              id_cta_cte:
                cod_cta_cte: 12345
              cta_agente:
                cuit_agente: 30712895994
                id_cuenta: CTA-001
      responses:
        '200':
          description: Resultado de la operación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfecredResultado'
              example:
                resultado: A
                id_cta_cte:
                  cod_cta_cte: 12345
                observaciones: []
                errores: []
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  # --- ARCA wsrgiva (Régimen de Percepción IVA) ---
  /{account_slug}/arca/wsrgiva/status:
    get:
      tags: [ARCA - wsrgiva (Régimen de Percepción IVA)]
      summary: Estado del servicio wsrgiva
      description: Verifica conectividad con el servicio ARCA wsrgiva (dummy). Requiere certificado de cuenta.
      operationId: wsrgivaStatus
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: Servicio disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfeStatusResponse'
              example:
                appserver: OK
                authserver: OK
                dbserver: OK
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsrgiva/constancias/{cuit}:
    get:
      tags: [ARCA - wsrgiva (Régimen de Percepción IVA)]
      summary: Consultar constancia por CUIT
      description: Obtiene la constancia de percepción IVA para un CUIT (consultarConstanciaPorLote). También acepta `?cuit=` como query param en lugar de path param.
      operationId: wsrgivaConstancia
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: cuit
          in: path
          required: true
          schema: { type: string }
          description: CUIT a consultar (con o sin guiones)
          example: '20-12345678-9'
      responses:
        '200':
          description: Constancia de percepción IVA
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsrgivaConstancia'
              example:
                - fecha_consulta: 23-03-2023
                  id_contribuyente: '20123456789'
                  descripcion_contribuyente: RAZON SOCIAL EJEMPLO S.A.
                  vigencia: 23-09-2023
                  codigo_leyenda: 18
                  descripcion_leyenda: 'Alícuota 1% - Responsables inscriptos, sin incumplimientos.'
                  codigo_seguridad: ABC123
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsrgiva/constancias/batch:
    post:
      tags: [ARCA - wsrgiva (Régimen de Percepción IVA)]
      summary: Consultar constancias por lote
      description: Obtiene constancias de percepción IVA para múltiples CUITs en una sola llamada (consultarConstanciaPorLote). Máximo 10 CUITs por request.
      operationId: wsrgivaConstanciasBatch
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cuits]
              properties:
                cuits:
                  type: array
                  items: { type: string }
                  minItems: 1
                  maxItems: 10
            example:
              cuits:
                - '20-12345678-9'
                - '30-98765432-1'
      responses:
        '200':
          description: Constancias de percepción IVA
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsrgivaConstancia'
              example:
                - fecha_consulta: 23-03-2023
                  id_contribuyente: '20123456789'
                  descripcion_contribuyente: RAZON SOCIAL EJEMPLO S.A.
                  vigencia: 23-09-2023
                  codigo_leyenda: 18
                  descripcion_leyenda: 'Alícuota 1% - Responsables inscriptos, sin incumplimientos.'
                  codigo_seguridad: ABC123
                - fecha_consulta: 23-03-2023
                  id_contribuyente: '20234567890'
                  descripcion_contribuyente: OTRA RAZON S.R.L.
                  vigencia: 23-09-2023
                  codigo_leyenda: 2
                  descripcion_leyenda: 'Alícuota 0% - Sujeto Exento o No Alcanzado en IVA'
                  codigo_seguridad: XYZ789
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  # --- ARCA ws_sr_padron_a100 (Padrón A100 — catálogos) ---
  /{account_slug}/arca/ws_sr_padron_a100/status:
    get:
      tags: [ARCA - ws_sr_padron_a100 (Padrón A100)]
      summary: Estado del servicio ws_sr_padron_a100
      description: Verifica conectividad con el servicio ARCA ws_sr_padron_a100 (dummy). Usa certificado de catálogo.
      operationId: wsSrPadronA100Status
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: Servicio disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfeStatusResponse'
              example:
                appserver: OK
                authserver: OK
                dbserver: OK
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/ws_sr_padron_a100/tipos/{scope}:
    get:
      tags: [ARCA - ws_sr_padron_a100 (Padrón A100)]
      summary: Obtener catálogo (tipos)
      description: |
        Devuelve un catálogo parametrizado del padrón A100 (getParameterCollectionByName).

        | scope | Colección ARCA |
        |---|---|
        | `jurisdictions` | SUPA.E_PROVINCIA |
        | `company_types` | SUPA.TIPO_EMPRESA_JURIDICA |
        | `public_organisms` | SUPA.E_ORGANISMO_INFORMANTE |

        Cada ítem tiene `id`, `decription` (typo de ARCA) y `attribute_list` con pares nombre/valor específicos de cada colección.
      operationId: wsSrPadronA100Tipos
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: scope
          in: path
          required: true
          schema:
            type: string
            enum: [jurisdictions, company_types, public_organisms]
          example: jurisdictions
      responses:
        '200':
          description: Colección de parámetros
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsSrPadronA100Response'
              examples:
                jurisdictions:
                  summary: Jurisdicciones (provincias)
                  value:
                    parameter_collection:
                      name: SUPA.E_PROVINCIA
                      parameter_list:
                        - id: 19
                          decription: MISIONES
                          attribute_list:
                            - name: NOMBRE_PROVINCIA
                              value: MISIONES
                            - name: COD_PROVINCIA
                              value: '19'
                            - name: CODIGO_SIM_PROVINCIA
                              value: MI
                    metadata:
                      fecha_hora: '2017-05-05T10:54:45.034-03:00'
                      servidor: awshomo.afip.gov.ar
                company_types:
                  summary: Tipos de empresa jurídica
                  value:
                    parameter_collection:
                      name: SUPA.TIPO_EMPRESA_JURIDICA
                      parameter_list:
                        - id: 1
                          decription: ALGO
                          attribute_list:
                            - name: NOMBRE
                              value: VALOR
                    metadata:
                      fecha_hora: '2017-05-05T10:54:45.034-03:00'
                      servidor: awshomo.afip.gov.ar
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  # --- ARCA ws_sr_padron_a4 (Padrón A4) ---
  /{account_slug}/arca/ws_sr_padron_a4/status:
    get:
      tags: [ARCA - ws_sr_padron_a4 (Padrón A4)]
      summary: Estado del servicio ws_sr_padron_a4
      description: Verifica conectividad con el servicio ARCA ws_sr_padron_a4 (dummy). Usa certificado de catálogo.
      operationId: wsSrPadronA4Status
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: Servicio disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfeStatusResponse'
              example:
                appserver: OK
                authserver: OK
                dbserver: OK
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/ws_sr_padron_a4/personas/{cuit}:
    get:
      tags: [ARCA - ws_sr_padron_a4 (Padrón A4)]
      summary: Consultar persona por CUIT
      description: Obtiene datos de una persona física o jurídica por CUIT (getEntities). También acepta `?cuit=` como query param.
      operationId: wsSrPadronA4Persona
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: cuit
          in: path
          required: true
          schema: { type: string }
          description: CUIT a consultar (con o sin guiones)
          example: '20-00000005-1'
      responses:
        '200':
          description: Array de personas
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsSrPadronA4Persona'
              example:
                - metadata:
                    fecha_hora: '2016-12-02T11:12:37.087-03:00'
                    servidor: setiwebhomoext.afip.gob.ar
                  persona:
                    id_persona: '20000000516'
                    tipo_persona: FISICA
                    tipo_clave: CUIT
                    estado_clave: ACTIVO
                    apellido: ERNESTO DANIEL
                    nombre: MARCELO NICOLAS
                    sexo: MASCULINO
                    mes_cierre: 12
                    fecha_inscripcion: '2010-10-30T12:00:00-03:00'
                    fecha_nacimiento: '1891-01-01T12:00:00-03:00'
                    actividad:
                      - descripcion_actividad: CONSTRUCCIÓN, REFORMA Y REPARACIÓN DE EDIFICIOS RESIDENCIALES
                        id_actividad: 410011
                        nomenclador: 883
                        orden: 1
                        periodo: '201311'
                    domicilio:
                      - cod_postal: '8371'
                        descripcion_provincia: NEUQUEN
                        direccion: LAGUNA LOS SAUCES 2
                        id_provincia: 20
                        localidad: JUNIN DE LOS ANDES
                        tipo_domicilio: FISCAL
                    impuesto:
                      - descripcion_impuesto: EMPLEADOR-APORTES SEG.SOCIAL
                        id_impuesto: 301
                        estado: ACTIVO
                        periodo: '200503'
                    dependencia:
                      descripcion_dependencia: DISTRITO ZAPALA
                      id_dependencia: 702
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/ws_sr_padron_a4/personas/batch:
    post:
      tags: [ARCA - ws_sr_padron_a4 (Padrón A4)]
      summary: Consultar personas por lote
      description: Obtiene datos de múltiples personas por CUIT en una sola llamada (getEntities). Máximo 10 CUITs por request.
      operationId: wsSrPadronA4PersonasBatch
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cuits]
              properties:
                cuits:
                  type: array
                  items: { type: string }
                  minItems: 1
                  maxItems: 10
            example:
              cuits:
                - '20-00000005-1'
                - '30-12345678-4'
      responses:
        '200':
          description: Array de personas
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsSrPadronA4Persona'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  # --- ARCA ws_sr_padron_a5 (Padrón A5) ---
  /{account_slug}/arca/ws_sr_padron_a5/status:
    get:
      tags: [ARCA - ws_sr_padron_a5 (Padrón A5)]
      summary: Estado del servicio ws_sr_padron_a5
      description: Verifica conectividad con el servicio ARCA ws_sr_padron_a5 (dummy). Usa certificado de catálogo.
      operationId: wsSrPadronA5Status
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: Servicio disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfeStatusResponse'
              example:
                appserver: OK
                authserver: OK
                dbserver: OK
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/ws_sr_padron_a5/personas/{cuit}:
    get:
      tags: [ARCA - ws_sr_padron_a5 (Padrón A5)]
      summary: Consultar persona por CUIT
      description: Obtiene datos generales y de monotributo de una persona por CUIT (getEntities). También acepta `?cuit=` como query param.
      operationId: wsSrPadronA5Persona
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: cuit
          in: path
          required: true
          schema: { type: string }
          description: CUIT a consultar (con o sin guiones)
          example: '27-25582042-2'
      responses:
        '200':
          description: Array de personas con datos generales y de monotributo
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsSrPadronA5Persona'
              example:
                - datos_generales:
                    id_persona: '27255820422'
                    tipo_persona: FISICA
                    tipo_clave: CUIT
                    estado_clave: ACTIVO
                    apellido: ALEXA
                    nombre: HILARY
                    mes_cierre: 12
                    domicilio_fiscal:
                      cod_postal: '5152'
                      descripcion_provincia: CORDOBA
                      direccion: SAN MARTIN 256
                      id_provincia: 3
                      localidad: VILLA CARLOS PAZ
                      tipo_domicilio: FISCAL
                    dependencia:
                      id_dependencia: 272
                      descripcion_dependencia: AGENCIA-SEDE N.1 CORDOBA
                      cod_postal: '5000'
                      descripcion_provincia: CORDOBA
                      direccion: BOULEVARD SAN JUAN 325 PB
                      id_provincia: 3
                      localidad: CORDOBA
                  datos_monotributo:
                    actividad_monotributista:
                      descripcion_actividad: VENTAS
                      id_actividad: 10
                      nomenclador: 1
                      orden: 0
                      periodo: '201007'
                    categoria_monotributo:
                      descripcion_categoria: C VENTAS DE COSAS MUEBLES
                      id_categoria: 45
                      id_impuesto: 20
                      periodo: '201007'
                    componente_de_sociedad:
                      ff_relacion: '2008-11-25T06:41:21-03:00'
                      id_persona_asociada: '23168373384'
                    impuesto:
                      descripcion_impuesto: MONOTRIBUTO
                      id_impuesto: 20
                      periodo: '201007'
                  metadata:
                    fecha_hora: '2017-01-06T11:47:40.464-03:00'
                    servidor: aws.afip.gob.ar
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/ws_sr_padron_a5/personas/batch:
    post:
      tags: [ARCA - ws_sr_padron_a5 (Padrón A5)]
      summary: Consultar personas por lote
      description: Obtiene datos de múltiples personas por CUIT (getEntities). Máximo 10 CUITs por request.
      operationId: wsSrPadronA5PersonasBatch
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cuits]
              properties:
                cuits:
                  type: array
                  items: { type: string }
                  minItems: 1
                  maxItems: 10
            example:
              cuits:
                - '27-25582042-2'
                - '30-12345678-4'
      responses:
        '200':
          description: Array de personas con datos generales y de monotributo
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsSrPadronA5Persona'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Token de acceso personal generado en My → Access tokens. Incluir en el header Authorization Bearer <token>
    
    SessionToken:
      type: apiKey
      in: cookie
      name: session_token
      description: Token de sesión obtenido vía magic link authentication. Se envía automáticamente como cookie después del login.

  parameters:
    AccountSlug:
      name: account_slug
      in: path
      required: true
      description: "Slug de la cuenta en la URL. Reemplazá por tu account_slug (numérico, ej. 1) o usá 1 como valor por defecto."
      example: '1'
      schema:
        type: string
        pattern: '^\d+$'
        default: '1'
        example: '1'

    WsfecredIdComprobante:
      name: cuit_emisor
      in: query
      required: true
      description: "Identificador de comprobante: cuit_emisor, cod_tipo_cmp, pto_vta y nro_cmp"
      schema: { type: integer }
      example: 30712895994

    WsfecredIdFacturaQuery:
      name: cuit_emisor
      in: query
      required: false
      description: "Parte del id_factura (junto con cod_tipo_cmp, pto_vta, nro_cmp). Alternativo a cod_cta_cte."
      schema: { type: integer }
      example: 30712895994

  responses:
    Unauthorized:
      description: No autorizado - token inválido o faltante
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Unauthorized
    
    UnprocessableEntity:
      description: Validación fallida
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    TooManyRequests:
      description: Rate limit excedido
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Too many requests
    
    ArcaError:
      description: Error de ARCA o upstream
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: No existe persona con ese Id
    
    CertificateNotConfigured:
      description: Certificado no configurado (global, de cuenta, o catálogo según endpoint)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            appCert:
              summary: Certificado de aplicación no configurado
              value:
                error: App certificate not configured
            accountCert:
              summary: Certificado de cuenta no configurado
              value:
                error: Account certificate not configured
            catalogCert:
              summary: Certificado de catálogo no configurado
              value:
                error: Certificate not configured

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Mensaje de error
      description: Formato estándar de error. Algunos 422 pueden incluir campos adicionales con detalles de validación.

    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        role:
          type: string
          enum: [owner, admin, member, system]
        active:
          type: boolean
        email_address:
          type: string
          format: email
        created_at:
          type: string
          format: date-time
        url:
          type: string
          format: uri
      example:
        id: 03f5v9zjw7pz8717a4no1h8a7
        name: Jane Doe
        role: owner
        active: true
        email_address: jane@example.com
        created_at: '2025-12-05T19:36:35.401Z'
        url: https://app.arcakit.dev/users/03f5v9zjw7pz8717a4no1h8a7

    Account:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
          description: Slug para URLs (incluye el slash inicial)
        created_at:
          type: string
          format: date-time
      example:
        id: 03f5v9zjskhcii2r45ih3u1rq
        name: Acme Corp
        slug: /1
        created_at: '2025-12-05T19:36:35.377Z'

    AccountWithUser:
      allOf:
        - $ref: '#/components/schemas/Account'
        - type: object
          properties:
            user:
              $ref: '#/components/schemas/User'

    IdentityResponse:
      type: object
      required:
        - email_address
        - accounts
      properties:
        email_address:
          type: string
          format: email
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/AccountWithUser'

    ConstanciaInscripcion:
      type: object
      properties:
        datos_generales:
          type: object
          properties:
            razon_social:
              type: string
              description: Para personas jurídicas
            apellido:
              type: string
              description: Para personas físicas
            nombre:
              type: string
              description: Para personas físicas
            id_persona:
              type: string
            tipo_persona:
              type: string
              enum: [FISICA, JURIDICA]
            tipo_clave:
              type: string
            estado_clave:
              type: string
            mes_cierre:
              type: string
            fecha_contrato_social:
              type: string
              format: date-time
              description: Para personas jurídicas
            domicilio_fiscal:
              type: object
              properties:
                direccion:
                  type: string
                localidad:
                  type: string
                cod_postal:
                  type: string
                id_provincia:
                  type: string
                descripcion_provincia:
                  type: string
                tipo_domicilio:
                  type: string
                dato_adicional:
                  type: string
                tipo_dato_adicional:
                  type: string
        datos_regimen_general:
          type: object
          description: Presente cuando la entidad cumple condiciones
          properties:
            actividad:
              type: array
              items:
                type: object
            impuesto:
              type: array
              items:
                type: object
            regimen:
              type: array
              items:
                type: object
        error_regimen_general:
          type: object
          description: Presente cuando hay error en régimen general
          properties:
            error:
              type: string
            mensaje:
              type: string
        metadata:
          type: object
          properties:
            fecha_hora:
              type: string
              format: date-time
            servidor:
              type: string
      example:
        datos_generales:
          razon_social: LA REGALERIA S A
          id_persona: '30123456784'
          tipo_persona: JURIDICA
          tipo_clave: CUIT
          estado_clave: ACTIVO
          mes_cierre: '6'
          fecha_contrato_social: '1996-07-31T12:00:00-03:00'
          domicilio_fiscal:
            direccion: AV SIEMPRE VIVA 123
            localidad: NUEVA YORK
            cod_postal: '2300'
            id_provincia: '12'
            descripcion_provincia: SANTA FE
            tipo_domicilio: FISCAL
        datos_regimen_general:
          actividad:
[...]
