openapi: 3.0.0
info:
  version: 1.0.0
  title: ARCAkit API
  description: |
    API REST para integración con ARCAkit. Autenticación mediante Bearer tokens o magic links.
    
    Para más información, consulta la documentación completa en https://app.arcakit.dev/docs
  contact:
    name: ARCAkit Support
    url: https://app.arcakit.dev
  license:
    name: RAMBAM

servers:
  - url: https://app.arcakit.dev
    description: Production

security:
  - BearerAuth: []

tags:
  - name: Authentication
    description: Magic link authentication para apps nativas
  - name: Identity
    description: Información de identidad y cuentas del usuario
  - name: Signup
    description: Creación de nuevas cuentas
  - name: ARCA - ws_sr_constancia_inscripcion (Constancia Inscripción)
    description: ws_sr_constancia_inscripcion (Datos de entidad por CUIT)
  - name: ARCA - wsfe (Facturación Electrónica)
    description: Facturación electrónica (tipos, puntos de venta, cotización, CAE/CAEA, comprobantes)
  - name: ARCA - wcons_declaracion (Consulta Declaraciones)
    description: Consulta de declaraciones juradas por identificador o rango de fechas de oficialización

paths:
  /session:
    post:
      tags:
        - Authentication
      summary: Solicitar magic link
      description: Envía un magic link al email del usuario. El usuario recibirá un código de 6 caracteres. La respuesta incluye un pending_authentication_token tanto en el JSON body como en una cookie.
      operationId: requestMagicLink
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email_address
              properties:
                email_address:
                  type: string
                  format: email
                  description: Email del usuario
            example:
              email_address: user@example.com
      responses:
        '201':
          description: Magic link enviado exitosamente
          headers:
            Set-Cookie:
              description: Cookie con pending_authentication_token
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  pending_authentication_token:
                    type: string
                    description: Token temporal para usar al enviar el código
              example:
                pending_authentication_token: eyJfcmFpbHMi...
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    
    delete:
      tags:
        - Authentication
      summary: Cerrar sesión (logout)
      description: Destruye la sesión del servidor
      operationId: logout
      security:
        - SessionToken: []
      responses:
        '204':
          description: Sesión cerrada exitosamente
        '401':
          $ref: '#/components/responses/Unauthorized'

  /session/magic_link:
    post:
      tags:
        - Authentication
      summary: Enviar código del magic link
      description: Completa la autenticación enviando el código de 6 caracteres que el usuario recibió por email. Requiere el pending_authentication_token como cookie.
      operationId: submitMagicLinkCode
      security: []
      parameters:
        - name: Cookie
          in: header
          required: true
          description: Cookie con pending_authentication_token de la respuesta anterior
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  description: Código de 6 caracteres del email
                  pattern: '^[A-Z0-9]{6}$'
            example:
              code: ABC123
      responses:
        '200':
          description: Autenticación exitosa
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_token:
                    type: string
                    description: Token de sesión para usar en requests subsiguientes
              example:
                session_token: eyJfcmFpbHMi...
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /my/identity:
    get:
      tags:
        - Identity
      summary: Obtener identidad y cuentas
      description: Retorna las cuentas a las que tiene acceso la identidad autenticada, incluyendo el usuario en cada cuenta.
      operationId: getMyIdentity
      responses:
        '200':
          description: Identidad con cuentas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityResponse'
              example:
                email_address: user@example.com
                accounts:
                  - id: 03f5v9zjskhcii2r45ih3u1rq
                    name: Acme Corp
                    slug: /0000001
                    created_at: '2025-12-05T19:36:35.377Z'
                    user:
                      id: 03f5v9zjw7pz8717a4no1h8a7
                      name: Jane Doe
                      role: owner
                      active: true
                      email_address: jane@example.com
                      created_at: '2025-12-05T19:36:35.401Z'
                      url: https://app.arcakit.dev/users/03f5v9zjw7pz8717a4no1h8a7
        '304':
          description: Not Modified (usa ETag para caching)
        '401':
          $ref: '#/components/responses/Unauthorized'

  /signup/completion:
    post:
      tags:
        - Signup
      summary: Crear nueva cuenta
      description: Completa el signup creando una nueva cuenta para la identidad autenticada. Rate limit de 10 requests por hora.
      operationId: createAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - full_name
                - cuit
              properties:
                full_name:
                  type: string
                  description: Nombre completo del usuario
                cuit:
                  type: string
                  description: CUIT de la entidad (con o sin guiones)
                  pattern: '^\d{2}-?\d{8}-?\d{1}$'
            example:
              full_name: Juan Pérez
              cuit: '20-12345678-9'
      responses:
        '201':
          description: Cuenta creada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /{account_slug}/arca/ws_sr_constancia_inscripcion/status:
    get:
      tags:
        - ARCA - ws_sr_constancia_inscripcion (Constancia Inscripción)
      summary: Verificar estado del servicio
      description: Verifica conectividad con el servicio ARCA. Usa certificado de catálogo (global o de cuenta según configuración).
      operationId: arcaConstanciaStatus
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: Servicio disponible
          content:
            application/json:
              schema:
                type: object
                properties:
                  appserver:
                    type: string
                  authserver:
                    type: string
                  dbserver:
                    type: string
              example:
                appserver: OK
                authserver: OK
                dbserver: OK
        '502':
          $ref: '#/components/responses/ArcaError'
        '503':
          $ref: '#/components/responses/CertificateNotConfigured'

  /{account_slug}/arca/ws_sr_constancia_inscripcion/constancias/{cuit}:
    get:
      tags:
        - ARCA - ws_sr_constancia_inscripcion (Constancia Inscripción)
      summary: Obtener constancia por CUIT
      description: Obtiene datos de inscripción de una entidad por su CUIT
      operationId: arcaGetConstancia
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: cuit
          in: path
          required: true
          description: CUIT de la entidad (con o sin guiones)
          schema:
            type: string
            pattern: '^\d{2}-?\d{8}-?\d{1}$'
          example: '30-12345678-4'
      responses:
        '200':
          description: Datos de la entidad
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConstanciaInscripcion'
              examples:
                personaJuridica:
                  summary: Persona jurídica exitosa
                  value:
                    datos_generales:
                      razon_social: LA REGALERIA S A
                      id_persona: '30123456784'
                      tipo_persona: JURIDICA
                      tipo_clave: CUIT
                      estado_clave: ACTIVO
                      mes_cierre: '6'
                      fecha_contrato_social: '1996-07-31T12:00:00-03:00'
                      domicilio_fiscal:
                        direccion: AV SIEMPRE VIVA 123
                        localidad: NUEVA YORK
                        cod_postal: '2300'
                        id_provincia: '12'
                        descripcion_provincia: SANTA FE
                        tipo_domicilio: FISCAL
                    datos_regimen_general:
                      actividad:
                        - descripcion_actividad: VENTA AL POR MENOR DE INSTRUMENTAL MÉDICO Y ODONTOLÓGICO Y ARTÍCULOS ORTOPÉDICOS
                          id_actividad: '477330'
                          nomenclador: '883'
                          orden: '2'
                          periodo: '201311'
                      impuesto:
                        - descripcion_impuesto: GANANCIAS SOCIEDADES
                          id_impuesto: '10'
                          periodo: '199907'
                        - descripcion_impuesto: IVA
                          id_impuesto: '30'
                          periodo: '198903'
                      regimen:
                        - id_impuesto: '208'
                          id_regimen: '159'
                          periodo: '199403'
                    metadata:
                      fecha_hora: '2018-12-18T13:28:41.714-03:00'
                      servidor: aws.afip.gov.ar
                personaFisica:
                  summary: Persona física con error de régimen
                  value:
                    datos_generales:
                      apellido: ROMA
                      nombre: LUIS GARMENDIA
                      id_persona: '20123456782'
                      tipo_persona: FISICA
                      tipo_clave: CUIT
                      estado_clave: ACTIVO
                      mes_cierre: '12'
                      domicilio_fiscal:
                        direccion: ROSAS 456
                        localidad: USHUAIA
                        cod_postal: '9410'
                        dato_adicional: NO DETERMINADO
                        tipo_dato_adicional: NO DETERMINADO
                        id_provincia: '24'
                        descripcion_provincia: TIERRA DEL FUEGO
                        tipo_domicilio: FISCAL
                    error_regimen_general:
                      error: El contribuyente cuenta con impuestos con baja de oficio por Decreto 1299/98
                      mensaje: No cumple con las condiciones para enviar datos del regimen general
                    metadata:
                      fecha_hora: '2019-01-03T15:41:42.636-03:00'
                      servidor: aws.afip.gov.ar
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '502':
          $ref: '#/components/responses/ArcaError'
        '503':
          $ref: '#/components/responses/CertificateNotConfigured'

  /{account_slug}/arca/ws_sr_constancia_inscripcion/constancias/batch:
    post:
      tags:
        - ARCA - ws_sr_constancia_inscripcion (Constancia Inscripción)
      summary: Obtener constancias por lote
      description: Obtiene datos de inscripción para múltiples CUITs (1-10 por request)
      operationId: arcaGetConstanciasBatch
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cuits
              properties:
                cuits:
                  type: array
                  items:
                    type: string
                    pattern: '^\d{2}-?\d{8}-?\d{1}$'
                  minItems: 1
                  maxItems: 10
                  description: Array de CUITs (1-10)
            example:
              cuits:
                - '30-12345678-4'
                - '20-12345678-2'
      responses:
        '200':
          description: Array de resultados (éxito o error por cada CUIT)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConstanciaInscripcion'
              example:
                - datos_generales:
                    razon_social: LA REGALERIA S A
                    id_persona: '30123456784'
                    tipo_persona: JURIDICA
                    tipo_clave: CUIT
                    estado_clave: ACTIVO
                    mes_cierre: '6'
                    fecha_contrato_social: '1996-07-31T12:00:00-03:00'
                    domicilio_fiscal:
                      direccion: AV SIEMPRE VIVA 123
                      localidad: NUEVA YORK
                      cod_postal: '2300'
                      id_provincia: '12'
                      descripcion_provincia: SANTA FE
                      tipo_domicilio: FISCAL
                    datos_regimen_general:
                      actividad:
                        - descripcion_actividad: VENTA AL POR MENOR DE INSTRUMENTAL MÉDICO Y ODONTOLÓGICO Y ARTÍCULOS ORTOPÉDICOS
                          id_actividad: '477330'
                          nomenclador: '883'
                          orden: '2'
                          periodo: '201311'
                      impuesto:
                        - descripcion_impuesto: IVA
                          id_impuesto: '30'
                          periodo: '198903'
                    metadata:
                      fecha_hora: '2018-12-18T13:28:41.714-03:00'
                      servidor: aws.afip.gov.ar
                - datos_generales:
                    apellido: ROMA
                    nombre: LUIS GARMENDIA
                    id_persona: '20123456782'
                    tipo_persona: FISICA
                    tipo_clave: CUIT
                    estado_clave: ACTIVO
                    mes_cierre: '12'
                    domicilio_fiscal:
                      direccion: ROSAS 456
                      localidad: USHUAIA
                      cod_postal: '9410'
                      id_provincia: '24'
                      descripcion_provincia: TIERRA DEL FUEGO
                      tipo_domicilio: FISCAL
                    error_regimen_general:
                      error: El contribuyente cuenta con impuestos con baja de oficio por Decreto 1299/98
                      mensaje: No cumple con las condiciones para enviar datos del regimen general
                    metadata:
                      fecha_hora: '2019-01-03T15:41:42.636-03:00'
                      servidor: aws.afip.gov.ar
        '422':
          description: Validación fallida (CUITs inválidos o cantidad fuera de rango)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  cuits:
                    type: array
                    items:
                      type: string
              example:
                error: Invalid CUIT format
                cuits:
                  - '12-34567890-1'
        '502':
          $ref: '#/components/responses/ArcaError'
        '503':
          $ref: '#/components/responses/CertificateNotConfigured'

  # --- ARCA WSFE (Facturación electrónica) ---
  /{account_slug}/arca/wsfe/status:
    get:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Estado del servicio WSFE
      description: Verifica conectividad con el servicio ARCA WSFE (FEDummy). Requiere certificado de cuenta.
      operationId: wsfeStatus
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: Servicio disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfeStatusResponse'
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/tipos/{scope}:
    get:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Obtener tipos (catálogos)
      description: |
        Devuelve el catálogo según scope. Valores de scope: comprobantes, documentos, concepto, monedas, opcional, iva, tributos, condicion_iva_receptor.
        Corresponde a FEParamGetTiposCbte, FEParamGetTiposDoc, FEParamGetTiposConcepto, FEParamGetTiposMonedas, FEParamGetTiposOpcional, FEParamGetTiposIva, FEParamGetTiposTributos, FEParamGetTiposIva (condición).
      operationId: wsfeTipos
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: scope
          in: path
          required: true
          schema:
            type: string
            enum: [comprobantes, documentos, concepto, monedas, opcional, iva, tributos, condicion_iva_receptor]
          example: comprobantes
      responses:
        '200':
          description: Array de ítems (id, desc, fch_desde, fch_hasta; condicion_iva_receptor tiene cmp_clase en lugar de fch_*)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsfeTipoItem'
              example:
                - id: 1
                  desc: Factura A
                  fch_desde: '20100917'
                  fch_hasta: null
                - id: 2
                  desc: Nota de Débito A
                  fch_desde: '20100918'
                  fch_hasta: '20110918'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/puntos_venta:
    get:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Listar puntos de venta
      description: Puntos de venta del contribuyente (FEParamGetPtosVenta).
      operationId: wsfePuntosVenta
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsfePuntoVenta'
              example:
                - nro: 1
                  emision_tipo: CAE
                  bloqueado: false
                  fch_baja: null
                - nro: 2
                  emision_tipo: CAEA
                  bloqueado: true
                  fch_baja: '20110131'
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/monedas/{moneda_id}/cotizacion:
    get:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Cotización de moneda
      description: Cotización (tipo de cambio) para la moneda indicada (FEParamGetCotizacion). Ej. moneda_id DOL para dólar.
      operationId: wsfeCotizacion
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: moneda_id
          in: path
          required: true
          schema:
            type: string
          example: DOL
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  moneda_id: { type: string }
                  cotizacion: { type: number }
              example:
                moneda_id: DOL
                cotizacion: 3.976
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/config/lote_max:
    get:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Cantidad máxima de registros por lote
      description: Cantidad máxima de comprobantes por request de autorización (FECompTotXRequest).
      operationId: wsfeLoteMax
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cant_max_registros_x_lote: { type: integer }
              example:
                cant_max_registros_x_lote: 250
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/comprobantes/ultimo_autorizado:
    get:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Último comprobante autorizado
      description: Último número de comprobante autorizado para el punto de venta y tipo (FECompUltimoAutorizado).
      operationId: wsfeUltimoComprobanteAutorizado
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: pto_vta
          in: query
          required: true
          schema: { type: integer }
          example: 1
        - name: cbte_tipo
          in: query
          required: true
          schema: { type: integer }
          example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pto_vta: { type: integer }
                  cbte_tipo: { type: integer }
                  cbte_nro: { type: integer }
              example:
                pto_vta: 1
                cbte_tipo: 1
                cbte_nro: 20
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/comprobantes/{pto_vta}/{cbte_tipo}/{cbte_nro}:
    get:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Consultar comprobante
      description: Obtiene datos de un comprobante por punto de venta, tipo y número (FECompConsultar).
      operationId: wsfeConsultarComprobante
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: pto_vta
          in: path
          required: true
          schema: { type: integer }
          example: 1
        - name: cbte_tipo
          in: path
          required: true
          schema: { type: integer }
          example: 1
        - name: cbte_nro
          in: path
          required: true
          schema: { type: integer }
          example: 1
      responses:
        '200':
          description: Datos del comprobante
          content:
            application/json:
              schema:
                type: object
                properties:
                  concepto: { type: integer }
                  doc_tipo: { type: integer }
                  doc_nro: { type: integer }
                  cbte_desde: { type: integer }
                  cbte_hasta: { type: integer }
                  cbte_fch: { type: string }
                  imp_total: { type: number }
                  imp_tot_conc: { type: number }
                  imp_neto: { type: number }
                  imp_op_ex: { type: number }
                  imp_trib: { type: number }
                  imp_iva: { type: number }
                  fch_serv_desde: { type: string, nullable: true }
                  fch_serv_hasta: { type: string, nullable: true }
                  fch_vto_pago: { type: string, nullable: true }
                  mon_id: { type: string }
                  mon_cotiz: { type: number }
                  iva:
                    type: object
                    properties:
                      alic_iva:
                        type: array
                        items:
                          type: object
                          properties:
                            id: { type: integer }
                            base_imp: { type: number }
                            importe: { type: number }
                  resultado: { type: string, enum: [ A, R ] }
                  cod_autorizacion: { type: string }
                  emision_tipo: { type: string }
                  fch_vto: { type: string }
                  fch_proceso: { type: string }
                  pto_vta: { type: integer }
                  cbte_tipo: { type: integer }
              example:
                concepto: 1
                doc_tipo: 80
                doc_nro: 30521189203
                cbte_desde: 1
                cbte_hasta: 1
                cbte_fch: '20110113'
                imp_total: 1270.48
                imp_tot_conc: 0
                imp_neto: 1049.98
                imp_op_ex: 0
                imp_trib: 0
                imp_iva: 220.5
                fch_serv_desde: null
                fch_serv_hasta: null
                fch_vto_pago: null
                mon_id: PES
                mon_cotiz: 1
                iva:
                  alic_iva:
                    - id: 5
                      base_imp: 1049.98
                      importe: 220.5
                resultado: A
                cod_autorizacion: '61023008595705'
                emision_tipo: CAE
                fch_vto: '20110123'
                fch_proceso: '20110113165500'
                pto_vta: 1
                cbte_tipo: 1
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/comprobantes:
    post:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Autorizar comprobantes (solicitar CAE)
      description: Autoriza uno o más comprobantes (FECAESolicitar). Body con cbte_tipo, pto_vta y array comprobantes. Ver documentación para estructura de cada comprobante.
      operationId: wsfeAutorizarComprobantes
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WsfeAutorizarComprobantesRequest'
            example:
              cbte_tipo: 1
              pto_vta: 1
              comprobantes:
                - cbte_nro: 1
                  concepto: 1
                  doc_tipo: 80
                  doc_nro: 30521189203
                  cbte_fch: '2011-01-13'
                  imp_total: 1270.48
                  imp_tot_conc: 0
                  imp_neto: 1049.98
                  imp_op_ex: 0
                  imp_trib: 0
                  imp_iva: 220.5
                  mon_id: PES
                  mon_cotiz: 1
                  iva:
                    alic_iva:
                      - id: 5
                        base_imp: 1049.98
                        importe: 220.5
      responses:
        '200':
          description: Array de resultados por comprobante
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsfeAutorizarComprobanteResponse'
              examples:
                autorizado:
                  summary: Comprobante autorizado (resultado A)
                  value:
                    - concepto: 1
                      doc_tipo: 80
                      doc_nro: 30521189203
                      cbte_desde: 1
                      cbte_hasta: 1
                      cbte_fch: '20110113'
                      resultado: A
                      cae: '61023008595705'
                      cae_fch_vto: '20110123'
                      observaciones: []
                rechazado:
                  summary: Comprobante rechazado (resultado R) con observaciones
                  value:
                    - concepto: 1
                      doc_tipo: 80
                      doc_nro: 30521189203
                      cbte_desde: 3
                      cbte_hasta: 3
                      cbte_fch: '20110113'
                      resultado: R
                      cae: null
                      cae_fch_vto: null
                      observaciones:
                        - code: 10048
                          msg: Msg 1
                        - code: 10018
                          msg: Msg 2
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/caea:
    get:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Consultar CAEA
      description: Obtiene el CAEA para una fecha (FECAEAConsultar). Query fecha=YYYY-MM-DD.
      operationId: wsfeConsultarCaea
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: fecha
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Fecha en YYYY-MM-DD
          example: '2011-02-01'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfeCaeaResponse'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }
    post:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Solicitar CAEA
      description: Solicita un CAEA para la próxima quincena (FECAEASolicitar). No requiere body.
      operationId: wsfeSolicitarCaea
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: CAEA otorgado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfeCaeaResponse'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/caea/informar_comprobantes:
    post:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Informar comprobantes CAEA
      description: Informa comprobantes emitidos con un CAEA (FECAEARegInformativo). Body cbte_tipo, pto_vta, comprobantes (array con cbte_nro y caea por ítem).
      operationId: wsfeInformarComprobantesCaea
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WsfeInformarComprobantesCaeaRequest'
      responses:
        '200':
          description: Array por comprobante (cbte_nro, caea, resultado, observaciones)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsfeInformarCaeaItemResponse'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wsfe/caea/informar_sin_movimientos:
    post:
      tags: [ARCA - wsfe (Facturación Electrónica)]
      summary: Informar CAEA sin movimientos
      description: Informa que no se usó el CAEA en el punto de venta (FECAEASinMovimientoInformar). Body caea y pto_vta.
      operationId: wsfeInformarCaeaSinMovimientos
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [caea, pto_vta]
              properties:
                caea: { type: string }
                pto_vta: { type: integer }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  caea: { type: string }
                  fch_proceso: { type: string }
                  pto_vta: { type: integer }
                  resultado: { type: string }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  # --- ARCA wcons_declaracion (Consulta Declaraciones) ---
  /{account_slug}/arca/wcons_declaracion/status:
    get:
      tags: [ARCA - wcons_declaracion (Consulta Declaraciones)]
      summary: Estado del servicio wcons_declaracion
      description: Verifica conectividad con el servicio. Requiere certificado de cuenta.
      operationId: wconsDeclaracionStatus
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
      responses:
        '200':
          description: Servicio disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsfeStatusResponse'
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wcons_declaracion/declaraciones:
    get:
      tags: [ARCA - wcons_declaracion (Consulta Declaraciones)]
      summary: Listar declaraciones
      description: |
        Lista declaraciones juradas (detallada_lista_declaraciones). Usar identificador_declaracion OR
        (fecha_oficializacion_desde + fecha_oficializacion_hasta), no ambos.
      operationId: wconsDeclaracionIndex
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: identificador_declaracion
          in: query
          required: false
          schema: { type: string }
          description: Identificador de la declaración. Exclusivo con fecha_oficializacion_desde/hasta.
          example: 19093SIMI000434X
        - name: fecha_oficializacion_desde
          in: query
          required: false
          schema: { type: string, format: date-time }
          description: Fecha desde (requerida junto con fecha_oficializacion_hasta si no se usa identificador_declaracion)
          example: '2019-04-01T00:00:00'
        - name: fecha_oficializacion_hasta
          in: query
          required: false
          schema: { type: string, format: date-time }
          description: Fecha hasta
          example: '2019-04-30T23:59:59'
      responses:
        '200':
          description: Array de declaraciones
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WconsDeclaracion'
              example:
                - identificador_declaracion: 19092SIMI000313M
                  cuit_importador_exportador: '23076925089'
                  cuit_despachante: '20180963295'
                  fecha_oficializacion_declaracion: '2019-04-03T12:54:36'
                  codigo_estado_declaracion: SALI
                  fecha_estado_declaracion: '2019-04-06T13:09:53'
                  codigo_via_transporte: '-'
                  matricula_medio_transporte: '-'
                - identificador_declaracion: 19092SIMI000314N
                  cuit_importador_exportador: '23076925089'
                  cuit_despachante: '20180963295'
                  fecha_oficializacion_declaracion: '2019-04-03T13:03:07'
                  codigo_estado_declaracion: CANC
                  fecha_estado_declaracion: '2019-06-20T02:23:31'
                  codigo_via_transporte: '-'
                  matricula_medio_transporte: '-'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

  /{account_slug}/arca/wcons_declaracion/declaraciones/{identificador_declaracion}:
    get:
      tags: [ARCA - wcons_declaracion (Consulta Declaraciones)]
      summary: Estado de una declaración
      description: Obtiene el estado de una declaración por su identificador (detallada_estado).
      operationId: wconsDeclaracionShow
      parameters:
        - $ref: '#/components/parameters/AccountSlug'
        - name: identificador_declaracion
          in: path
          required: true
          schema: { type: string }
          description: Identificador de la declaración
          example: 19093SIMI000434X
      responses:
        '200':
          description: Estado de la declaración
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WconsDeclaracionEstado'
              example:
                fecha_presentacion: null
                fecha_autorizacion_retiro: '2019-04-25T18:48:12'
                fecha_salida: '2019-04-25T18:48:12'
                fecha_cancelacion: '2019-07-04T02:29:34'
                fecha_oficializacion_permiso_embarque_original: null
                fecha_presentacion_permiso_embarque_original: null
                fecha_precumplido: null
                fecha_registracion_cumplido: null
                fecha_libramiento_cumplido: null
                fecha_vencimiento_embarque: null
                indicador_precumplido: '-'
                indicador_cumplido: '-'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/ArcaError' }
        '503': { $ref: '#/components/responses/CertificateNotConfigured' }

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Token de acceso personal generado en My → Access tokens. Incluir en el header Authorization Bearer <token>
    
    SessionToken:
      type: apiKey
      in: cookie
      name: session_token
      description: Token de sesión obtenido vía magic link authentication. Se envía automáticamente como cookie después del login.

  parameters:
    AccountSlug:
      name: account_slug
      in: path
      required: true
      description: "Slug de la cuenta en la URL. Reemplazá por tu account_slug (numérico, ej. 1) o usá 1 como valor por defecto."
      schema:
        type: string
        pattern: '^\d+$'
        default: '1'
      example: 'account_slug'

  responses:
    Unauthorized:
      description: No autorizado - token inválido o faltante
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Unauthorized
    
    UnprocessableEntity:
      description: Validación fallida
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    TooManyRequests:
      description: Rate limit excedido
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Too many requests
    
    ArcaError:
      description: Error de ARCA o upstream
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: No existe persona con ese Id
    
    CertificateNotConfigured:
      description: Certificado no configurado (global, de cuenta, o catálogo según endpoint)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            appCert:
              summary: Certificado de aplicación no configurado
              value:
                error: App certificate not configured
            accountCert:
              summary: Certificado de cuenta no configurado
              value:
                error: Account certificate not configured
            catalogCert:
              summary: Certificado de catálogo no configurado
              value:
                error: Certificate not configured

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Mensaje de error
      description: Formato estándar de error. Algunos 422 pueden incluir campos adicionales con detalles de validación.

    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        role:
          type: string
          enum: [owner, admin, member, system]
        active:
          type: boolean
        email_address:
          type: string
          format: email
        created_at:
          type: string
          format: date-time
        url:
          type: string
          format: uri

    Account:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
          description: Slug para URLs (incluye el slash inicial)
        created_at:
          type: string
          format: date-time

    AccountWithUser:
      allOf:
        - $ref: '#/components/schemas/Account'
        - type: object
          properties:
            user:
              $ref: '#/components/schemas/User'

    IdentityResponse:
      type: object
      required:
        - email_address
        - accounts
      properties:
        email_address:
          type: string
          format: email
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/AccountWithUser'

    ConstanciaInscripcion:
      type: object
      properties:
        datos_generales:
          type: object
          properties:
            razon_social:
              type: string
              description: Para personas jurídicas
            apellido:
              type: string
              description: Para personas físicas
            nombre:
              type: string
              description: Para personas físicas
            id_persona:
              type: string
            tipo_persona:
              type: string
              enum: [FISICA, JURIDICA]
            tipo_clave:
              type: string
            estado_clave:
              type: string
            mes_cierre:
              type: string
            fecha_contrato_social:
              type: string
              format: date-time
              description: Para personas jurídicas
            domicilio_fiscal:
              type: object
              properties:
                direccion:
                  type: string
                localidad:
                  type: string
                cod_postal:
                  type: string
                id_provincia:
                  type: string
                descripcion_provincia:
                  type: string
                tipo_domicilio:
                  type: string
                dato_adicional:
                  type: string
                tipo_dato_adicional:
                  type: string
        datos_regimen_general:
          type: object
          description: Presente cuando la entidad cumple condiciones
          properties:
            actividad:
              type: array
              items:
                type: object
            impuesto:
              type: array
              items:
                type: object
            regimen:
              type: array
              items:
                type: object
        error_regimen_general:
          type: object
          description: Presente cuando hay error en régimen general
          properties:
            error:
              type: string
            mensaje:
              type: string
        metadata:
          type: object
          properties:
            fecha_hora:
              type: string
              format: date-time
            servidor:
              type: string

    # WSFE (Facturación electrónica)
    WsfeStatusResponse:
      type: object
      properties:
        app_server: { type: string }
        db_server: { type: string }
        auth_server: { type: string }

    WsfeTipoItem:
      type: object
      properties:
        id: { description: "Id numérico o código (ej. monedas PES, DOL)", oneOf: [ { type: integer }, { type: string } ] }
        desc: { type: string }
        fch_desde: { type: string }
        fch_hasta: { type: string, nullable: true }
        cmp_clase: { type: string, description: "Solo condicion_iva_receptor" }

    WsfePuntoVenta:
      type: object
      properties:
        nro: { type: integer }
        emision_tipo: { type: string }
        bloqueado: { type: boolean }
        fch_baja: { type: string, nullable: true }

    WsfeAutorizarComprobantesRequest:
      type: object
      required: [ cbte_tipo, pto_vta, comprobantes ]
      properties:
        cbte_tipo: { type: integer }
        pto_vta: { type: integer }
        comprobantes:
          type: array
          items: { $ref: '#/components/schemas/WsfeComprobanteDetalle' }


    WsfeComprobanteDetalle:
      type: object
      description: Detalle por comprobante (FECAEDetRequest). Campos mínimos y opcionales según doc.
      properties:
        cbte_nro: { type: integer }
        concepto: { type: integer }
        doc_tipo: { type: integer }
        doc_nro: { type: integer }
        cbte_fch: { type: string }
        imp_total: { type: number }
        imp_tot_conc: { type: number }
        imp_neto: { type: number }
        imp_op_ex: { type: number }
        imp_trib: { type: number }
        imp_iva: { type: number }
        mon_id: { type: string }
        mon_cotiz: { type: number }
        iva:
          type: object
          properties:
            alic_iva:
              type: array
              items:
                type: object
                properties:
                  id: { type: integer }
                  base_imp: { type: number }
                  importe: { type: number }
        tributos:
          type: object
          properties:
            tributo:
              type: array
              items:
                type: object
                properties:
                  id: { type: integer }
                  base_imp: { type: number }
                  alic: { type: number }
                  importe: { type: number }
        fch_serv_desde: { type: string }
        fch_serv_hasta: { type: string }
        fch_vto_pago: { type: string }
        cbtes_asoc:
          type: object
          properties:
            cbte_asoc:
              type: array
              items:
                type: object
                properties:
                  tipo: { type: integer }
                  pto_vta: { type: integer }
                  nro: { type: integer }
        opcionales:
          type: object
          properties:
            opcional:
              type: array
              items:
                type: object
                properties:
                  id: { type: string }
                  valor: { type: string }
        condicion_iva_receptor_id: { type: integer }

    WsfeAutorizarComprobanteResponse:
      type: object
      properties:
        concepto: { type: integer }
        doc_tipo: { type: integer }
        doc_nro: { type: integer }
        cbte_desde: { type: integer }
        cbte_hasta: { type: integer }
        cbte_fch: { type: string }
        resultado: { type: string, enum: [ A, R ] }
        cae: { type: string, nullable: true }
        cae_fch_vto: { type: string, nullable: true }
        observaciones:
          type: array
          items:
            type: object
            properties:
              code: { type: integer }
              msg: { type: string }

    WsfeCaeaResponse:
      type: object
      properties:
        caea: { type: string }
        periodo: { type: string }
        orden: { type: integer }
        fch_vig_desde: { type: string }
        fch_vig_hasta: { type: string }
        fch_tope_inf: { type: string }
        fch_proceso: { type: string }

    WsfeInformarComprobantesCaeaRequest:
      type: object
      required: [ cbte_tipo, pto_vta, comprobantes ]
      properties:
        cbte_tipo: { type: integer }
        pto_vta: { type: integer }
        comprobantes:
          type: array
          items: { $ref: '#/components/schemas/WsfeComprobanteDetalle' }

    WsfeInformarCaeaItemResponse:
      type: object
      properties:
        cbte_nro: { type: integer }
        caea: { type: string }
        resultado: { type: string, enum: [ A, R ] }
        observaciones:
          type: array
          items:
            type: object
            properties:
              code: { type: integer }
              msg: { type: string }

    WconsDeclaracion:
      type: object
      properties:
        identificador_declaracion: { type: string }
        cuit_importador_exportador: { type: string }
        cuit_despachante: { type: string }
        fecha_oficializacion_declaracion: { type: string, format: date-time }
        codigo_estado_declaracion: { type: string, description: "Ej: SALI (salida), CANC (cancelada)" }
        fecha_estado_declaracion: { type: string, format: date-time }
        codigo_via_transporte: { type: string }
        matricula_medio_transporte: { type: string }

    WconsDeclaracionEstado:
      type: object
      properties:
        fecha_presentacion: { type: string, format: date-time, nullable: true }
        fecha_autorizacion_retiro: { type: string, format: date-time, nullable: true }
        fecha_salida: { type: string, format: date-time, nullable: true }
        fecha_cancelacion: { type: string, format: date-time, nullable: true }
        fecha_oficializacion_permiso_embarque_original: { type: string, format: date-time, nullable: true }
        fecha_presentacion_permiso_embarque_original: { type: string, format: date-time, nullable: true }
        fecha_precumplido: { type: string, format: date-time, nullable: true }
        fecha_registracion_cumplido: { type: string, format: date-time, nullable: true }
        fecha_libramiento_cumplido: { type: string, format: date-time, nullable: true }
        fecha_vencimiento_embarque: { type: string, format: date-time, nullable: true }
        indicador_precumplido: { type: string }
        indicador_cumplido: { type: string }